* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5cf06;
  --secondary-color: #8e4106;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90vw;
  margin: auto;
}

header {
  margin-top: 70px;
}
.righteous-regular {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
}

header a {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: 'Righteous', sans-serif;
}
main {
  background-color: tomato;
  flex-grow: 3;
}

footer {
  background-color: plum;
  margin-bottom: 24px;
}
